In [ ]:
import pandas as pd
import numpy as np
train = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition.csv')

!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: catboost in /usr/local/lib/python3.9/dist-packages (1.1.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.9/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.9/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.9/dist-packages (from catboost) (5.13.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.9/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from catboost) (1.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.24.0->catboost) (2022.7.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->catboost) (23.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->catboost) (1.0.7)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->catboost) (5.12.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->catboost) (4.39.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly->catboost) (8.2.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->catboost) (3.15.0)

In [ ]:
train.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
train.isna().sum()
train = train.drop(['WorkLifeBalance','BusinessTravel','JobRole','MaritalStatus', 'DailyRate', 'Department','EducationField','Gender','Over18', 'EducationField', 'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel', 'TrainingTimesLastYear'], axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
train["Attrition"] = label.fit_transform(train.Attrition)
train["Attrition"] *= 10
train["OverTime"] = label.fit_transform(train.Attrition)
X = train.drop('Attrition', axis=1)
y = train.Attrition

In [ ]:
y

0       10
1        0
2       10
3        0
4        0
        ..
1465     0
1466     0
1467     0
1468     0
1469     0
Name: Attrition, Length: 1470, dtype: int64

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1470 non-null   int64
 1   DistanceFromHome         1470 non-null   int64
 2   Education                1470 non-null   int64
 3   EmployeeCount            1470 non-null   int64
 4   EmployeeNumber           1470 non-null   int64
 5   EnvironmentSatisfaction  1470 non-null   int64
 6   HourlyRate               1470 non-null   int64
 7   JobInvolvement           1470 non-null   int64
 8   JobLevel                 1470 non-null   int64
 9   JobSatisfaction          1470 non-null   int64
 10  MonthlyIncome            1470 non-null   int64
 11  MonthlyRate              1470 non-null   int64
 12  NumCompaniesWorked       1470 non-null   int64
 13  OverTime                 1470 non-null   int64
 14  PercentSalaryHike        1470 non-null   int64
 15  StandardHours            1470 non-null   int64
 16  TotalWorkingYears        1470 non-null   int64
 17  YearsAtCompany           1470 non-null   int64
 18  YearsInCurrentRole       1470 non-null   int64
 19  YearsSinceLastPromotion  1470 non-null   int64
 20  YearsWithCurrManager     1470 non-null   int64
dtypes: int64(21)
memory usage: 241.3 KB

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
from catboost import CatBoostRegressor
from sklearn.metrics import mean_absolute_error
cat = CatBoostRegressor(loss_function='MAE')
cat.fit(X_train, y_train, eval_set=(X_test, y_test), verbose=False)
pred = cat.predict(X_test)
mean_absolute_error(pred,y_test)

0.02459612717417139